<html>

<head>
	<title>Game Over</title>
	<meta charset="utf-8">
</head>

<body>
	<div>
		<h1>HANGMAN</h1>
		<h3>{{game.displayArray}}</h3>
		<h1>{{game.endingMessage}}</h1>
		<a href="./gamereset">
			<h2>PLAY AGAIN?</h2>
		</a>
	</div>
</body>

</html>
