<html>

<head>
	<title>Hangman</title>
	<meta charset="utf-8">
</head>

<body>
	<div>
		<h1>Welcome To Chris's Hangman Game</h1>
		<a href="./game"><h2>Click to Play</h2></a>
	</div>
</body>

</html>
